body{
    font-family: Arial, sans-serif;
}
/* table styles */
/* https://www.w3schools.com/html/html_tables.asp */
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px 8px 5px 8px;
}
